body {
  background-color: black;
}

.trex {
  position: absolute;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  contain: content;
  background-image: url('../docs/dinoi-image.png');
  bottom: 0px;
}

.obstacle {
  position: absolute;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  contain: content;
  background-image: url('../docs/cactus.png');
  bottom: 0px;
}

.span {
  position: absolute;
  font-size: medium;
  font-style: italic;
  font-weight: 100;
  background-color: black;
}
